.course {
    display: flex;
    flex-direction: column;

    width: 70%;
    padding: 1rem 3rem;
    background-color: var(--lighterOverlay);
    margin: 1rem 0;
}

.courseHeader {
    font-size: 2rem;
}

.courseMainContent {
    display: flex;
}

.courseSummary {
    flex: 1 0;
    text-align: justify;
    margin: 0 1rem 0 0;
}

.courseProfile {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courseProfilePicture {
    width: 100%;
}

.courseTags {
    display: flex;
    flex-wrap: wrap;

    margin: 1rem 0 0 0;
}

.courseTag {
    width: max-content;

    background-color: darkgray;
    border-radius: 0.6rem;
    padding: 0.1rem 0.5rem;
    margin: 0.1rem 0.3rem;
}

.courseTag:first-child{
    margin: 0.1rem 0.3rem 0.1rem 0;
}

.courseTag:last-child {
    margin: 0.1rem 0 0.1rem 0.3rem;
}

.courseRatings {
    display: flex;
    flex-wrap: wrap;

    margin: 1rem 0 0 0;
}

.courseRating {
    padding: 0 0.5rem;
    border-right: 1px solid var(--mainFont);
}

.courseRating:first-child {
    padding: 0.1rem 0.5rem 0.1rem 0;
}

.courseRating:last-child {
    padding: 0.1rem 0 0.1rem 0.5rem;
    border-right: none;
}

/*.courseTabs {
    display: flex;
    flex-wrap: wrap;

    margin: 1rem 0 0 0;
}

.courseTab {
    width: max-content;

    border-radius: 5px;
    background-color: var(--lightOverlay);
    padding: 0.5rem 1rem;
    margin: 0.1rem 0.3rem;
}*/