.searchbar {
    background-color: var(--section-background);
    border: var(--section-border);
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.searchWrap {
    margin: 10rem 0 0 0;
    position: relative;
    width: 50%;
}

.searchWrap > i {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: var(--mainFont);
    cursor: pointer;
}

.search {
    flex: 0 1 100%;
    min-width: 50%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    width: 100%;
}

.searchTags {
    flex: 1 0 0;
}

.search:focus {
    outline: none;
}

.tags {
    width: 50%;
    display: flex;
    margin: 1rem 0;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    width: max-content;
    background-color: rgba(100, 149, 237, 1);
    color: var(--navbarColor);
    border-radius: 0.6rem;
    padding: 0.1rem 0.5rem;
    margin: 0.1rem 0.3rem;
    transition-duration: 0.2s;
}

.searchTags {
    display: flex;
}

.selectedTag {
    background-color: lightsteelblue !important;
}