.reviews {
    width: 70%;
    padding: 1rem 3rem;
    background-color: var(--lighterOverlay);
    margin: 1rem 0;
}

.newReviewContent {
    display: flex;
}

.newReviewTexts {
    flex: 1 0 80%;
    display: flex;
    flex-direction: column;
}

.newReviewTextArea {
    resize: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem 0;
    height: 6rem;
}

.newReviewPosVNegs {
    display: flex
}

.newReviewPos, .newReviewNeg {
    flex: 0 1 50%;
    display: flex;
    resize: none;
    height: 6rem;
    border-radius: 5px;
}

.newReviewPos {
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.newReviewNeg {
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.newReviewRatings {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
}

.newReviewRating {
    display: flex;
    margin: 0 0 0 1rem;
}

.newReviewRatingHeader {
    flex: 0 0;
}

.newReviewRatingStars {
    flex: 1 0;
    text-align: right;
    position: relative;
}

.newReviewRatingStars input {
    opacity: 0;
    right: -0.25rem;
    cursor: pointer;
    position: absolute;
    width: 6rem;
}

.oldReviews {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 0 0;
}

.reviewContent {
    display: flex;
}

.reviewTexts {
    flex: 1 0 80%;
    display: flex;
    flex-direction: column;
}

.reviewTextArea {
    margin: 0.5rem 0;
}

.reviewPosVNegs {
    display: flex
}

.reviewPos, .reviewNeg {
    flex: 0 1 50%;
    display: flex;
    resize: none;
    border-radius: 5px;
}

.reviewPos {
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.reviewNeg {
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.reviewRatings {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
}

.reviewRating {
    display: flex;
    margin: 0 0 0 1rem;
}

.reviewRatingHeader {
    flex: 0 0;
}

.reviewRatingStars {
    flex: 1 0;
    text-align: right;
}

.reviewUsername, .reviewDate, .reviewReport {
    display: inline-block;
}

.reviewReport {
    color: var(--darkestOverlay);
}

.reviewHeader {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
}

.newReviewButtons {
    display: flex;
    justify-content: flex-end;
}

.newReviewButtons button {
    margin: 0 0 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: deepskyblue;
    border: 0 none;
}