:root {
    --background: rgba(240,248,255,1);

    --navbarBackground: rgba(31, 29, 54, 1);
    --navbarBackgroundHover: rgba(63, 51, 81, 1);
    --navbarActive: rgba(233, 166, 166, 1);
    --navbarColor: rgba(255, 255, 255, 1);

    --activeNavBar: rgba(255, 0, 0, 0.8);

    --mainFont: rgba(50, 50, 50, 1);

    --section-background: rgba(255, 250, 250, 1);
    --section-border: 1px solid rgba(176, 196, 222, 1);
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: var(--mainFont);
    background-color: var(--background);
}

* {
    box-sizing: border-box;

    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--mainFont);
}

.navBar {
    display: flex;
    background-color: var(--navbarBackground);
    color: var(--navbarColor);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navItem {
    flex: 0 0 max-content;

    margin: 0 0.5rem;
    transition-duration: 0.2s;
}

.navItemActive {
    border-bottom: 3px solid var(--navbarActive);
}

.navBarLink {
    display: block;
    flex: 0 0 max-content;

    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    transition-duration: 0.2s;
}

.navBarLink:hover {
    background-color: var(--navbarBackgroundHover);
}


.navSpace {
    flex: 1 0 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}